/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  max-width: 1600px;
  min-width: 1100px;
  margin: auto;
}
/* ===== HEADER ===== */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background: #fff;
  background-image: url("background_header.svg");
  background-size: cover;
}
.logo {
  position: relative;
  width: 105px;
  height: 39px;
  background-position: center;
  background-repeat: no-repeat;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 12px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 26px;
}
.nav-links li:not(:first-child) {
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  text-align: center;
  color: #000;
  padding-right: 26px;
  padding-bottom: 183px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.nav-links a:hover {
  color: #cf5a28;
}

.header-image {
  position: absolute;
  max-width: 646px;
  top: 124px;
  right: 5px;
}
@media (max-width: 720px) {
  .header-description {
    flex-direction: column;
    text-align: center;
  }
} /*
.header-titlo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 80px;
}*/

.header-text {
  max-width: 683px;
}
.header-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  height: auto;
  margin: 0;
  padding-bottom: 28px;
  padding-left: 80px;
  letter-spacing: -1px;
}
.header-title span {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}

.header-description {
  font-family: "Noto Serif", "Times New Roman", serif;
  max-width: 683px;
  font-style: normal;

  font-weight: normal;
  padding-left: 80px;
  font-size: 20px;

  line-height: 30px;
}

.header__info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  width: 100%;
  margin-top: auto;
  padding: 0px 80px 40px;
  color: #666;
  font-size: 20px;
  line-height: 30px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.header__text {
  flex-direction: column;
  text-align: left;
}
@media (max-width: 720px) {
  .header__info {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
/* ===== RESERVATION ===== */
.reservation {
  background: #ffd6c2;
  padding: 80px 20px;
  text-align: center;
}

.reservation h2 {
  margin-bottom: 30px;
}

.reservation-form {
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reservation-form label {
  text-align: left;
  font-size: 14px;
}

.reservation-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

.reservation-form button {
  background: #e96b3a;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
}

.terms {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.terms input {
  width: auto;
  margin-top: 0;
}

/* ===== FOOTER ===== */
.footer {
  background: #cf5a28;
  color: white;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 350px;
}
@media (min-width: 720px) {
  .footer {
    background: #cf5a28;
    color: white;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 250px;
  }
  .footer-logo {
    position: absolute;
    background-image: url(logo_coffeeshop_dark.svg);
    background-position: center;
    background-repeat: no-repeat;
    color: white; /*No se como ponerlo en blanco*/
    fill: white;
    filter: brightness(0) invert(1); /*Asi*/
    width: 150px;
    height: 100px;
    padding: 10px;
    top: 25px;
    left: 25px;
  }
}
.footer-logo {
  background-image: url(logo_coffeeshop_dark.svg);
  background-position: center;
  background-repeat: no-repeat;
  color: white; /*No se como ponerlo en blanco*/
  fill: white;
  filter: brightness(0) invert(1); /*Asi*/
  width: 150px;
  height: 100px;
  padding: 10px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 50px;
  transform: translateY(-50%);
  margin-bottom: 10px 10px 20px 10px;
  color: rgba(255, 255, 255, 0.9);
}
.social p {
  margin-bottom: 10px;
}

.social-link a {
  font-size: 18px;
}
.social-link:hover {
  color: #251913;
}
.social a {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 14px;
  margin-top: 5px;
}

.copy {
  font-size: 12px;
  bottom: 50px;
  left: 50px;
  color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 720px) {
  .social {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    margin-top: 0;
  }

  .copy {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}
